:root {
  --light-grey: #eaeaea;
  --btn-purple: #915bb1;
  --btn-light-green: #76e2b3;
  --btn-light-blue: #62b4f9;
  --btn-light-pink: #ec5e6f;
  --btn-light-orange: #f5b748;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
